<h2>Formulaire depuis un utilisateur</h2>


<form method="post" name="formulaire" action="{{ url('stops.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" />

    <label for="name">Maitre : </label>
    <input type="text" name="maitre" value={{ligne.prenom}} />
    
    <button type="submit">Envoyer</button>

</form>